*{
    box-sizing: border-box;
    margin:0;
}
body{
    font-family:"Roboto",sans-serif;
}
nav{
    background-color: #fff;
    color:#222;
    display:flex;
    padding:15px;
    justify-content:space-between;
    align-items:center;

}
.brand{
    text-decoration: none;
    color: #222;
    font-weight:bold;
    font-size:40px;
    margin-left:50px;

}
nav li{
    display: inline;
    margin:15px;
}
nav li a{
    text-decoration: none;
    font-weight:bold;
    font-size:17px;
    color:#222;
}
header::before{
    content: "";
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}
header {
    filter:grayscale(100%);
    background: url('https://capitalizo.com.br/wp-content/uploads/2019/08/Prédio-como-investir-em-fundos-imobiliários-FIIs.jpg');
    height: 100vh;
    color: #fff;
}

header h1{
    font-size:80px;
    line-height:65px;
    margin-bottom:15px;
}
header p{
    max-width:700px;
    letter-spacing:0.1px;
    line-height:25px;


}

.header-content {
    padding:200px;
    position: relative;
    z-index: 1; /* Garante que esteja na frente do pseudo-elemento ::before */
}

.about{
    height:100%;
    padding:100px;

}

.about h1{
    margin-top: 20px ;
}

.boxes{
    margin-top:50px;
    display:flex;
    flex-direction:row;
}
button{
    background-color: #222;
    border:none;
    padding:10px 14px;
    color:#fff;
}